<div class="question-container">
    <h1><%= @question.title %></h1>
    <small class="date"> Submitted at: <%= time_ago_in_words(@question.created_at) %> ago </small>

    <p><%= @question.body %> </p>
</div>

<div class="answers">
  <hr>
  <h2><%= @question.answers.count %> Answers: </h2>
  <%= render @question.answers %>

  <h3>Add an Answer:</h3>
  <%= render 'answers/form' %>
</div>
