<!DOCTYPE html>
<html>
  <head>
    <title>OverflowClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="headers">
      <button class="button"><%= link_to 'Home', root_path %></button>
      <% if logged_in? %>
        <button class="button"><%= link_to 'Logout', sessions_path %></button>
       <button class="button"><%= link_to 'New Question', new_question_path %></button>
      <% else %>
        <button class="button"><%= link_to 'Sign Up', new_user_path %></button>
        <button class="button"><%= link_to 'Login', new_session_path %></button>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
